*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    background-color: gray;
}
.wrapper{
    width: 1440px;
    background-color: #FFF;
    padding: 70px 190px 103px 190px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
h1,h2,h3,p{
    margin: 0;
    padding: 0;
}

/*------------------------HEADER------------------*/

.header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 70px;
    align-items: center;
}
.header__navigation{
    display: flex;
}
.header>a{
    display: block;
}
.header__navigation a{
    display: block;
    margin-right: 75px;
    font-family: Vollkorn;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0.05em;
    color: #000000;
}
.header__navigation a:last-child{
    margin-right: 0;
}
.btn{
    cursor: pointer;
    border: none;
    padding: 18px 29px;
    background: #C4C4C4;
    border-radius: 8px;
    font-family: Montserrat Alternates;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.05em;
    color: #000000;
}
.title{
    font-family: Vollkorn;
    font-size: 36px;
    line-height: 50px;
    letter-spacing: 0.05em;
    color: #000000;
}

/*------------------------FOOTER------------------*/

.footer{
    display: flex;
}
.footer__info{
    display: flex;
    padding-top: 70px;
}
.footer__license{
    width: 247px;
    margin: 0 93px 0 121px;
}
.footer__license p{
    font-family: Montserrat Alternates;
    font-size: 18px;
    line-height: 22px;
    color: #171717;
}
.footer__license p:last-child{
    margin-top: 27px;
}
.footer__logo a{
   display: block;
}
.footer__contacts h2{
    font-family: Vollkorn;
    font-size: 24px;
    line-height: 33px;
    letter-spacing: 0.05em;
    color: #000000;
}
.footer__contacts>a{
    display: block;
    font-family: Montserrat Alternates;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.05em;
    color: #1E0202;
    margin: 30px 0;
}
.footer__icons{
    display: flex;
}
.footer__icons a{
    margin-right: 16px;
    display: block;
}
.footer__icons a:last-child{
    margin-right: 0;
}

/*------------------------MAIN------------------*/

.main{
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
}

/*----wellcome-----------*/

.wellcome{
    margin-bottom: 85px;
    display: flex;
    justify-content: space-between;
}
.wellcome__text{
    margin: 90px 48px 0 0;
}
.wellcome__title{
    font-family: Vollkorn;
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 89px;
    letter-spacing: 0.05em;
    color: #000000;
}
.wellcome__subtitle{
    font-family: Montserrat Alternates;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 0.05em;
    color: #000000;
    margin: 22px 0 176px 0;
}

/*-----vakcination-----------*/

.vakcination{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 88px;
}
.vakcination__title{
    flex: 1 0 100%;
    padding-right: 40%;
}
.vakcination__body{
    flex: 0 1 76%;
    display: flex;
}
.vakcination__img{
    flex: 0 1 24%;
}
.vakcination__about{
    margin-right: 26px;
}
.vakcination__about p{
    font-family: Montserrat Alternates;
    font-size: 18px;
    line-height: 35px;
    color: #000000;
}
.vakcination__about p:first-child{
    margin-top: 40px;
}
.vakcination__btn{
    margin-top: 20px;
}

/*-----prices-----------*/

.prices{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 88px;
}
.prices__title{
    flex: 1 0 100%;
    margin-bottom: 14px;
}
.prices__body{
    flex: 0 1 67%;
    display: flex;
    justify-content: space-between;
}
.prices__img{
    flex: 0 1 20%;
}
.prices__prices{
    margin-right: 50px;
}
.prices__list{
    margin: 40px 0;
}
.prices__list li{
    font-family: Montserrat Alternates;
    font-weight: 600;
    font-size: 18px;
    color: #000000;
    margin-bottom: 20px;
}
.prices__list span{
    font-weight: normal;
}

/*-----team-----------*/

.team{
    margin-bottom: 44px;
}
.team__title{
    margin-bottom: 80px;
}
.team__members{
    display: flex;
}
.team__1, .team__2, .team__3{
    flex: 0 1 33.33%;
    margin-right: 259px;
    font-family: Montserrat Alternates;
    line-height: 17px;
    letter-spacing: 0.05em;
    color: #000000;
}
.member-img{
    margin-bottom: 14px;
}
.team__3{
    margin-right: 0;
}
.team__name{
    font-weight: bold;
    font-size: 14px;
}
.team__post{
    font-weight: normal;
    font-size: 12px;
}